* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: grid;
  place-items: center;
  background-color: rgb(198, 250, 252);
  min-height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}
